{% extends "admin/change_form.html" %}
{% load i18n admin_modify static admin_urls %}

{% block extrahead %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/dmp.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1-datepicker/jquery-ui.min.css' %}" type="text/css"/>
    <script src="{% static 'js/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-ui-1.12.1-datepicker/jquery-ui.min.js' %}"></script>

{% endblock %}
{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script type="text/javascript">
        (function () {
            $('#draftdmp').click(function (e) {
                if ($('#id_dmp_URL').val()) {
                    e.preventDefault();
                    alert("This link is disabled if there is URL entered in the 'DMP URL' box.")
                }

            });

            if ($('#id_dmp_URL').val()) {
                $('#draftdmp').attr('style', "opacity: 0.2; cursor: not-allowed; background-color: grey")
            }
        })(django.jquery)

    </script>
    <script type="text/javascript">
        (function () {
                // This function modifies the django admin inline form for reminders. It resets the "remind in" value to
                // "-----" on page load to limit confusion.
                // setDueDate() is used to calculate the due date from the input value to dynamically set the due date field.


                // reset "remind in" value
                var i
                var reminder = $('[id^=id_reminder_set][id$=-reminder]')
                for (i=0; i < reminder.length; i++){
                    reminder[i].value = ''
                }

                function setDueDate(){
                    // Dynamically fills the Due Date field based on the input in the "remind in" field.

                    function dateFormatter(date) {
                        // Takes a date string and toggles beween dd/mm/yyyy and mm/dd/yyyy //

                        if (date === ''){
                            return ''
                        }
                        var dateparts = date.split("/");
                        return dateparts[1] + "/" + dateparts[0] + "/" + dateparts[2]
                    }

                    var id = this.id
                    var value = this.value
                    var dueDateInput = document.getElementById(id.replace("-reminder","-due_date"))
                    var today = new Date();
                    var endDate = new Date(dateFormatter(document.getElementById("id_enddate").value));
                    var dueDate = new Date()

                    var delay_periods = {
                        '1_week': 86400*7*1000,     // 1 week in milliseconds
                        '2_weeks': 86400*14*1000,   // 2 weeks in milliseconds
                        '1_month': 1,
                        '3_months': 3,
                        '6_months': 6,
                        '-6_months': -6,
                        '-3_months': -3,
                        '-1_month': -1
                    }

                    if (value === 'custom' || value === ''){
                        dueDate = ''

                    } else if (value.includes('-')) {
                        endDate.setMonth(endDate.getMonth() + delay_periods[value])
                        dueDate = endDate.toLocaleDateString('en-UK')

                    } else if (value.includes('month')) {
                        dueDate.setMonth(today.getMonth() + delay_periods[value])
                        dueDate = dueDate.toLocaleDateString('en-UK')

                    } else {
                        dueDate.setTime(today.getTime() + delay_periods[value])
                        dueDate = dueDate.toLocaleDateString('en-UK')

                    }
                    dueDateInput.value = dateFormatter(dueDate)
                }

            $('#reminder_set-group').on('change', '[id^=id_reminder_set][id$=-reminder]', setDueDate)
        })(django.jquery)
    </script>
    <script type="text/javascript">
        (function () {
            $('input[id$=-due_date]').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "2015:2050",
            });
        })(django.jquery)

    </script>
{% endblock %}


{% block object-tools %}


    <img style="height:40px; align:right" src="/static/projecticon.jpg"/>


    {% if change %}{% if not is_popup %}
        <ul class="object-tools">
            {% block object-tools-items %}
                {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                <li><a id="newconv" href="https://secure.helpscout.net/mailbox/7b0c55db545d4969/new-ticket/?email={{original.PIemail}}&subject={{original.title}}"
                       class="historylink">New Conversation</a></li>
                <li><a id="listconv" href="https://secure.helpscout.net/search/?query={-hash-}DMPProjectID:{{ object_id }}" class="historylink">Previous Conversations</a></li>
                <li><a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a></li>
                <li><a href="/dmp/myprojects" class="historylink">My projects</a></li>
                {#                <li><a href="/dmp/projectsvis?listall=1&show={{ object_id }}" class="historylink">Vis</a></li>#}
                {% for g in original.grants %}
                    <li>{{ g.gotw|safe }}</li>
                {% endfor %}
                {% for pg in original.project_groups %}
                    <li><a style="background-color:#ccdd99" href="/admin/dmp/projectgroup/{{ pg.pk }}">{{ pg.name }}</a>
                    </li>
                {% endfor %}
                <li><a id="draftdmp" href="/dmp/project/{{ original.id }}" class="historylink">Draft DMP</a></li>
                <!-- <li><a href="{% url "email_templates" object_id %}" class="historylink">Send Email for Project</a></li> -->
                {% if has_absolute_url %}
                    <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/"
                           class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
            {% endblock %}
        </ul>
    {% endif %}{% endif %}




{% endblock %}


{% block after_related_objects %}

    <table style="background-color:#ddddff; margin:10px 10px 10px 10px">
        <tr>
            <td>Data Products</td>
            <td>contact</td>
            <td>status</td>
            <td>Delivery date</td>
        </tr>
        {% for d in original.data_outputs %}
            <tr>
                <td><a href="/admin/dmp/dataproduct/{{ d.id }}">{{ d }}</a></td>
                <td>{{ d.contact1 }}</td>
                <td>{{ d.status }}</td>
                <td>{{ d.deliverydate }}</td>
            </tr>
        {% endfor %}
    </table>

    <a style="margin:10px 10px 10px 10px; border:2px solid #333399; background-color:#ccccff; border-radius:5px"
       href="/dmp/project/{{ original.id }}/adddataproduct">Add new data product</a>

{% endblock %}

