apiclient==1.0.3
certifi==2017.7.27.1
chardet==3.0.4
Django==1.10.5

django-extensions==1.7.5
django-multiselectfield==0.1.5
django-picklefield==1.0.0
django-sizefield==0.9.1
google-api-python-client==1.6.2
httplib2==0.10.3
idna==2.5
oauth2client==4.1.2
oauthlib==2.0.1
pexpect==4.2.1
ptyprocess==0.5.1
pyasn1==0.3.1
pyasn1-modules==0.0.10
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.3
requests-oauthlib==0.7.0
rsa==3.4.2
six==1.10.0
Unidecode==0.4.21
uritemplate==3.0.0
urllib3==1.22
virtualenv==15.1.0