table tr:nth-child(odd) {
    background-color: #f6f6f6;
}
table {
    width: 100%;
}

tr {
    line-height: 2em;
}

td {
    padding: 0 5px 0 5px;
}
.expired-text {
    color: #c4000e;
}
.active-text{
    color: #b7b534;
}

.expired {
    background-color: rgba(242, 222, 222, 0.73);
}

.active {
    background-color: #fcf8e3;
}


.block-head {
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}

.todo-badge {
    border: solid;
    border-color: #858585;
    border-width: 1px;
    border-radius: 12px;
    margin-left: 7px;
    padding: 0 7px 0 7px;
    background-color: white ;
    color: black;
    font-size: medium;
    vertical-align: middle;
}