{% extends 'admin/base_site.html' %}
{% load static i18n admin_urls %}
{% block extrahead %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({
        selector: 'textarea',
        visual: false,
    });
    </script>
    <link rel="stylesheet" href="{% static 'css/dmp.css' %}" type="text/css"/>
    <script>
    function changeheight() {
        var text_ = document.getElementById('text_space')
        text_.style.height = '200px'
        alert('im running')
    }
    </script>

{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        ﻿<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        ﻿&rsaquo;
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        ﻿&rsaquo;
        <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        ﻿&rsaquo;
        ﻿<a href="/admin/dmp/project/{{ project.id }}/change">{{ project.title|capfirst }}</a>
        ﻿&rsaquo;
        Draft DMP

    </div>

{% endblock %}
{% block content %}
    <form action="{% url 'dmp_draft' project.id %}" method="POST">
        {% csrf_token %}

        <input type="submit" value="Upload to Google Docs">
        {% for field in form %}
            {{ field }}
        {% endfor %}
    </form>


{% endblock %}



 


