{% extends 'admin/base_site.html' %}
{% load static i18n admin_urls %}
{% block extrahead %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({
        selector: 'textarea',
        visual: false,
    });
    </script>
    <link rel="stylesheet" href="{% static 'css/dmp.css' %}" type="text/css"/>

{% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
        {% trans 'Welcome,' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        {% if site_url %}
            <a href="{{ site_url }}">{% trans 'View site' %}</a> /
        {% endif %}
        {% if user.is_active and user.is_staff %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
            {% endif %}
        {% endif %}
        {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
        {% endif %}
        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    {% endblock %}
</div>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        ﻿<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        ﻿&rsaquo;
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        ﻿&rsaquo;
        <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        ﻿&rsaquo;
        ﻿<a href="/admin/dmp/project/{{ project.id }}/change">{{ project.title|capfirst }}</a>
        ﻿&rsaquo;
        Draft DMP

    </div>

{% endblock %}

{% block content %}
    {% if google_user %}
        <div style="padding-bottom: 10px">
            <div class="google_user_dropdown">
                <a class="google_account_info dropbtn" onclick="showDetails()" onmouseover="showDetails()"
                   title="Google account currently attached to logged in user">
                    {{ google_user.initial }}
                </a>
                <div id="myDropdown" class="google_user_dropdown-content">
                    <table style="width:100%">
                        <tr>
                            <th style="width: 35%; background-color: rgba(0, 151, 200, 0.03)" colspan="2"> Google Account Information</th>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <img style="height: 65px; width: 65px; border-radius: 10px" src="{{ google_user.picture }}">
                            </td>
                            <td style="border-bottom: none; padding-bottom: 5px"><h2>{{ google_user.name }}</h2></td>
                        </tr>
                        <tr>
                            <td style="padding-top: 5px">{{ google_user.email }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background-color: rgba(0, 151, 200, 0.03);">
                                <a class="cancel" style="background-color: #d31a1a" href="{% url 'google_token_revoke' project.id %}">Unlink Google Account</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    <form action="{% url 'dmp_upload' project.id %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td style="padding-left: 0px; border-bottom: none"><input type="submit" onclick="show('loading')" value="Upload to Google Docs"></td>
                <td style="vertical-align: middle; border-bottom: none"><img id="loading" style="visibility: hidden" src="{% static 'loading.gif' %}"></td>
            </tr>
        </table>

        {% for field in form %}
            {{ field }}
        {% endfor %}
    </form>

    <script>
        function show(obj){
            var loading_img = document.getElementById(obj)
    loading_img.style.visibility = 'visible'
    }

    function showDetails() {
        document.getElementById("myDropdown").classList.toggle("show")
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("google_user_dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
    </script>

{% endblock %}



 


