{% extends 'admin/base_site.html' %}

{% load static %}

{% block extrahead %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/todo_list.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1-datepicker/jquery-ui.min.css' %}" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.12.1-datepicker/jquery-ui.min.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Todo List</h1>
    <div style="text-align: right">
        <a class="button" href="{% url 'todolist_summary' %}">Summary</a>
    </div>
    <div style="text-align: right;">
        <h3 style="margin-top: 3px">Filter on SciSup Contact:
            <span>
                <div class="userFilterDropdown">
                    {% if filter_value.first_name and filter_value.last_name %}
                        <button onclick="dropdown()" class="userFilterDropdown-dropbtn">
                            {{ filter_value.first_name | capfirst }} {{ filter_value.last_name | capfirst }}
                            <span class="caret"></span>
                        </button>
                    {% else %}
                        <button onclick="dropdown()" class="userFilterDropdown-dropbtn">
                            {{ filter_value.username }}
                            <span class="caret"></span>
                        </button>
                    {% endif %}
                    <div id="userFilterDropdown-content" class="userFilterDropdown-content">
                        <a href="all">Show All</a>
                        {% for contact in scisupcontacts %}
                            {% if contact.first_name and contact.last_name %}
                                <a href="{{ contact }}">{{ contact.first_name | capfirst }} {{ contact.last_name |capfirst }}</a>
                            {% else %}
                                <a href="{{ contact }}">{{ contact}}</a>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </span>
        </h3>
    </div>


    {% if  expired %}
        <button class="accordion expired active">Overdue<span class="todo-badge">{{ expired | length }}</span></button>
        <div class="panel" style="display: block">
    {% else %}
        <button class="accordion expired">Overdue<span class="todo-badge">{{ expired | length }}</span></button>
        <div class="panel" style="display: none">
    {% endif %}

<h3 class="expired-text">Reminder due date has passed</h3>

{% if expired %}

    <table style="width: 100%;">
        <th style="width: 20%">Reminder Description</th>
        <th style="width: 60%">Project Name</th>
        <th style="width: 10%">Reminder Due Date</th>
        <th style="width: 10%;">Actions</th>
        {% for reminder in expired %}
            <tr>
                <td>{{ reminder.description }}</td>
                <td><a href="{% url 'admin:dmp_project_change' reminder.project.id %}">{{ reminder.project.title }}</a>
                </td>
                <td>{{ reminder.due_date }}</td>
                <td>
                    <a class="complete" onclick="showModal('completeModal','reminder',{{ reminder.id }})"
                       title="Mark Complete"><img class="icon" src="{% static 'icons/tick.png' %}"></a>
                    <button class="action-button" onclick="showModal('postponeModal','reminder', {{ reminder.id }})"
                            title="Edit reminder"><img class="icon" src="{% static 'icons/edit.png' %}"></button>
                    <button class="delete" onclick="showModal('deleteModal','reminder',{{ reminder.id }})"
                            title="Delete reminder"><img class="icon" src="{% static 'icons/trash.png' %}"></button>
                    <button class="action-button" onclick="showModal('addModal','project', {{ reminder.project.id }})"
                            title="Add new reminder"><img class="icon" src="{% static 'icons/add.png' %}"></button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>There are currently no expired reminders</p>
{% endif %}
</div>

{% if active %}
    <button class="accordion current active">Active<span class="todo-badge">{{ active | length }}</span></button>
    <div class="panel" style="display: block">
{% else %}
    <button class="accordion current">Active<span class="todo-badge">{{ active | length }}</span></button>
    <div class="panel" style="display: none">
{% endif %}

<h3 class="active-text">Reminder due date occurs in the next month</h3>

{% if active %}

    <table style="width: 100%;">
        <th style="width: 20%">Reminder Description</th>
        <th style="width: 60%">Project Name</th>
        <th style="width: 10%">Reminder Due Date</th>
        <th style="width: 10%;">Actions</th>
        {% for reminder in active %}
            <tr>
                <td>{{ reminder.description }}</td>
                <td><a href="{% url 'admin:dmp_project_change' reminder.project.id %}">{{ reminder.project.title }}</a>
                </td>
                <td>{{ reminder.due_date }}</td>
                <td>
                    <a class="complete" onclick="showModal('completeModal','reminder',{{ reminder.id }})"
                       title="Mark Complete"><img class="icon" src="{% static 'icons/tick.png' %}"></a>
                    <button class="action-button" onclick="showModal('postponeModal','reminder', {{ reminder.id }})"
                            title="Edit reminder"><img class="icon" src="{% static 'icons/edit.png' %}"></button>
                    <button class="delete" onclick="showModal('deleteModal','reminder',{{ reminder.id }})"
                            title="Delete reminder"><img class="icon" src="{% static 'icons/trash.png' %}"></button>
                    <button class="action-button" onclick="showModal('addModal','project', {{ reminder.project.id }})"
                            title="Add new reminder"><img class="icon" src="{% static 'icons/add.png' %}"></button>
                </td>
            </tr>
        {% endfor %}
    </table>

{% else %}
    <p>There are currently no active reminders</p>
{% endif %}
</div>

{% if upcoming %}
    <button class="accordion upcoming active">Upcoming<span class="todo-badge">{{ upcoming | length }}</span></button>
    <div class="panel" style="display: block">
{% else %}
    <button class="accordion upcoming">Upcoming<span class="todo-badge">{{ upcoming | length }}</span></button>
    <div class="panel" style="display: none">
{% endif %}

<h3 class="upcoming-text">Reminder due date occurs 1-3 months ahead of current date</h3>

{% if upcoming %}

    <table style="width: 100%;">
        <th style="width: 20%">Reminder Description</th>
        <th style="width: 60%">Project Name</th>
        <th style="width: 10%">Reminder Due Date</th>
        <th style="width: 10%;">Actions</th>
        {% for reminder in upcoming %}
            <tr>
                <td>{{ reminder.description }}</td>
                <td><a href="{% url 'admin:dmp_project_change' reminder.project.id %}">{{ reminder.project.title }}</a>
                </td>
                <td>{{ reminder.due_date }}</td>
                <td>
                    <a class="complete" onclick="showModal('completeModal','reminder',{{ reminder.id }})"
                       title="Mark Complete"><img class="icon" src="{% static 'icons/tick.png' %}"></a>
                    <button class="action-button" onclick="showModal('postponeModal','reminder', {{ reminder.id }})"
                            title="Edit reminder"><img class="icon" src="{% static 'icons/edit.png' %}"></button>
                    <button class="delete" onclick="showModal('deleteModal','reminder',{{ reminder.id }})"
                            title="Delete reminder"><img class="icon" src="{% static 'icons/trash.png' %}"></button>
                    <button class="action-button" onclick="showModal('addModal','project', {{ reminder.project.id }})"
                            title="Add new reminder"><img class="icon" src="{% static 'icons/add.png' %}"></button>
                </td>
            </tr>
        {% endfor %}
    </table>

{% else %}
    <p>There are currently no upcoming reminders</p>
{% endif %}
</div>

<button class="accordion">Project with no reminder<span class="todo-badge">{{ others | length }}</span></button>
<div class="panel other">
    <h3>Project does not have a reminder assigned</h3>

    {% if others %}

        <table style="width: 100%;">
            <th style="width: 20%">Reminder Description</th>
            <th style="width: 60%">Project Name</th>
            <th style="width: 10%">Reminder Due Date</th>
            <th style="width: 10%;">Actions</th>
            {% for project in others %}
                <tr>
                    <td> --</td>
                    <td><a href="{% url 'admin:dmp_project_change' project.id %}">{{ project.title }}</a></td>
                    <td> --</td>
                    <td>
                        <button class="action-button" onclick="showModal('addModal','project', {{ project.id }})"
                                title="Add new reminder"><img class="icon" src="{% static 'icons/add.png' %}"></button>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>There are currently no projects without reminders</p>
    {% endif %}
</div>

<!-- Complete Modal -->
<div id="completeModal" class="modal">

    <!-- Modal content -->
    <div id="modal-content" class="modal-content">

        <div class="modal-header">
            <h2 style="margin: 0 0 0 0; color: white;">Complete Reminder?<span class="close">&times;</span></h2>
        </div>
        <div class="modal-body" style="padding: 0 20px 0 20px">
            {{ form.non_field_errors }}
            <form id="form_element" action="" method="post">
                {% csrf_token %}
                <h3>Are you sure you want to mark this reminder as complete?</h3>

                <br>
                <input id="object_id" type="text" value="" hidden>
                <input id="object_type" type="text" value="" hidden>
                <table>
                    <th style="width: 80%">Description:</th>
                    <th style="width: 20%">Due Date:</th>
                    <tr>
                        <td><input type="text" id="id_description" value="" style="width:98%;"></td>
                        <td><input type="text" id="id_due_date" value=""></td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Comments on completion:
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea name="complete_note" style="width: 98%;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="no_border white-background"></td>
                        <td class="no_border white-background" style="text-align: right">
                            <input style="background-color: #5ad5c4; color: white;" type="submit" value="Complete"
                                   name="complete"> <input type="submit" value="Cancel" name="cancel"></td>

                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>

<!-- Edit Reminder Modal -->
<div id="postponeModal" class="modal">

    <!-- Modal content -->
    <div id="modal-content" class="modal-content">

        <div class="modal-header">
            <h2 style="margin: 0 0 0 0; color: white;">Postpone Reminder?<span class="close">&times;</span></h2>
        </div>
        <div class="modal-body" style="padding: 0 20px 0 20px">
            {{ form.non_field_errors }}
            <form id="form_element" action="" method="post">
                {% csrf_token %}
                <h3>Use the "Remind in" selection box to choose "Custom Date" and set your own due date or choose an
                    option to set a new date relative to the present day or Project end date, as defined in options
                    list.</h3>
                <br>
                <input id="object_id" type="text" value="" hidden>
                <input id="object_type" type="text" value="" hidden>
                <table>
                    <th style="width: 60%">{{ form.description.label_tag }}</th>
                    <th style="width: 20%">{{ form.reminder.label_tag }}</th>
                    <th style="width: 20%">{{ form.due_date.label_tag }}</th>
                    <th hidden>{{ form.state.label_tag }}</th>
                    <tr>
                        <td>{{ form.description }}</td>
                        <td>{{ form.reminder }}</td>
                        <td>{{ form.due_date }}</td>
                        <td hidden>{{ form.state }}</td>
                    </tr>
                    <th colspan="3">Reason for change:</th>
                    <tr>
                        <td colspan="3"><textarea name="note" style="width: 98%;"></textarea></td>
                    </tr>
                    <tr>
                        <td class="no_border white-background"></td>
                        <td class="no_border white-background"></td>
                        <td class="no_border white-background" style="text-align: right"><input type="submit"
                                                                                                value="Save"
                                                                                                name="save"></td>

                    </tr>

                </table>
            </form>
        </div>
    </div>

</div>

<!-- Delete Modal -->
<div id="deleteModal" class="modal">

    <!-- Modal content -->
    <div id="modal-content" class="modal-content">

        <div class="modal-header">
            <h2 style="margin: 0 0 0 0; color: white;">Delete Reminder?<span class="close">&times;</span></h2>
        </div>
        <div class="modal-body" style="padding: 0 20px 0 20px">
            {{ form.non_field_errors }}
            <form id="form_element" action="" method="post">
                {% csrf_token %}
                <h3>Are you sure you want to delete this reminder?</h3>

                <br>
                <input id="object_id" type="text" value="" hidden>
                <input id="object_type" type="text" value="" hidden>
                <table>
                    <th style="width: 80%">Description:</th>
                    <th style="width: 20%">Due Date:</th>
                    <tr>
                        <td><input type="text" id="id_description" value="" style="width:98%;"></td>
                        <td><input type="text" id="id_due_date" value=""></td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Reason for deletion:
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea name="delete_note" style="width: 98%;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="no_border white-background"></td>
                        <td class="no_border white-background" style="text-align: right">
                            <input style="background-color: #c4000e; color: white;" type="submit" value="Delete"
                                   name="delete"> <input type="submit" value="Cancel" name="cancel"></td>

                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>

<!-- Add Reminder Modal -->
<div id="addModal" class="modal">

    <!-- Modal content -->
    <div id="modal-content" class="modal-content">

        <div class="modal-header">
            <h2 style="margin: 0 0 0 0; color: white;">Add a New Reminder?<span class="close">&times;</span></h2>
        </div>
        <div class="modal-body" style="padding: 0 20px 0 20px">
            {{ form.non_field_errors }}
            <form id="form_element" action="" method="post">
                {% csrf_token %}
                <h3>Use the "Remind in" selection box to choose "Custom Date" and set your own due date or choose an
                    option to set a new date relative to the present day or Project end date, as defined in options
                    list.
                    If selecting an interval from "Remind in", leave the due date blank and the date will be calculated
                    on save.</h3>
                <br>
                <input id="object_id" type="text" value="" hidden>
                <input id="object_type" type="text" value="" hidden>
                <table>
                    <th style="width: 60%">{{ form.description.label_tag }}</th>
                    <th style="width: 20%">{{ form.reminder.label_tag }}</th>
                    <th style="width: 20%">{{ form.due_date.label_tag }}</th>
                    <th hidden>{{ form.state.label_tag }}</th>
                    <tr>
                        <td>{{ form.description }}</td>
                        <td>{{ form.reminder }}</td>
                        <td>{{ form.due_date }}</td>
                    </tr>
                    <tr>
                        <td class="no_border white-background"></td>
                        <td class="no_border white-background"></td>
                        <td class="no_border white-background" style="text-align: right">
                            <input type="submit" value="Save" name="save">
                        </td>
                        <td hidden>{{ form.state }}</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>


<script>
    // Open and populate modal fields
    function showModal(modal_id, object_type, object_id) {

        var target = "/dmp/todo_list/modal/" + object_type + "/" + object_id;
        $.get(target, function (data) {
            $('[id="form_element"]').attr('action', "/dmp/todo_list/save_reminder/" + object_type + "/" + data["object_id"]);
            $('[id="id_description"]').val(data["description"]);
            $('[id="id_reminder"]').val(data["delay_period"]);
            $('[id="id_due_date"]').val(data["due_date"]);
            $('[id="id_state"]').val("Open");
            $('[id="object_id"]').val(object_id);
            $('[id="object_type"]').val(object_type);
        });


        var modal = "#" + modal_id;
        $(modal).show();

        // Get the <span> element that closes the modal
        var spans = document.getElementsByClassName("close");

        // When the user clicks on <span> (x), close the modal
        for (var i = 0; i < spans.length; i++) {
            spans[i].onclick = function () {
                $(modal).hide();
            }
        }

    }
    ;

</script>
<script>
    //change due date when user selects item from reminder dropdown
    $(document).ready(function () {
        $('[id="id_reminder"]').change(function () {
            var selected = $(this).val();
            if (selected !== "custom") {
                // get object id, object type and set the target url
                var object_id = $('#object_id').val();
                var object_type = $('#object_type').val();
                var target = "/dmp/todo_list/update_duedate/" + object_type + "/" + object_id + "/" + selected;

                $.get(target, function (data) {
                    $('[id="id_due_date"]').val(data["due_date"])

                })
            }
        })
    })

</script>
<script>
    // open and close the collapsible panel
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }
</script>
<script>
    function dropdown() {
        document.getElementById("userFilterDropdown-content").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.userFilterDropdown-dropbtn')) {

            var dropdowns = document.getElementsByClassName("userFilterDropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
<script type="text/javascript">

        $('input[id$=due_date]').datepicker({
            onSelect: function () {
              $('[id="id_due_date"]').val(this.value)
            },

            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            yearRange: "2015:2050"
        });

</script>

{% endblock %}