{% extends 'admin/base_site.html' %}

{% load static %}

{% block extrahead %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/todo_list.css' %}" type="text/css"/>
{% endblock %}


{% block content %}

<h1> Todo List Summary Statistics</h1>

    <table class="summary">
     <th>Name</th>
     <th>Expired Reminders</th>
     <th>Active Reminders</th>
     <th>Upcoming Reminders</th>
     <th>Total Reminders</th>
     <th>Projects Without Reminders</th>
     <th>Total Active Projects</th>
     <td>Initial Contact</td>
     <td>DMP Comms</td>
     <td>Progress</td>
     <td>Data Delivery</td>
    {% for contact in summary %}
        <tr>
            {% if contact.first_name %}
                <td><a href="{% url 'todo_list_filter' contact.username %}">{{ contact.first_name }} {{ contact.last_name }}</a></td>
            {% else %}
                <td><a href="{% url 'todo_list_filter' contact.username %}">{{ contact.username }}</a></td>
            {% endif %}
            <td class="expired-text">{{ contact.expired }}</td>
            <td class="active-text">{{ contact.active }}</td>
            <td class="upcoming-text">{{ contact.upcoming }}</td>
            <td style="font-weight: bold;">{{ contact.total }}</td>
            <td style="color: #aaaaaa">{{ contact.other }}</td>
            <td> {{contact.active_proj}} </td>
            <td> {{contact.initial_contact}} </td>
            <td> {{contact.dmp_comms}} </td>
            <td> {{contact.progress}} </td>
            <td> {{contact.data_delivery}} </td>
        </tr>
    {% endfor %}

    </table>


{% endblock %}

