
<body>

    {% if contact.first_name %}
        <p>Dear {{ contact.first_name }} {{ contact.last_name }},</p>
    {% else %}
        <p>Dear {{ contact }},</p>
    {% endif %}

    <p>Please find below any reminders for which the due date has passed and those which are due in the next month.</p>
    <p>You have {{ expired | length }} expired reminders and {{ active | length }} active reminders.</p>
    <p>Please carry out the relevant action and be sure to update the reminder details either from the project details screen or
        from the <a href="https://{{ server_name }}/dmp/todo_list/">to-do list</a>.</p>

    <p>Many thanks,</p>
    <p>The DMP Tool</p>

    <div>
        <div class="block-head expired">
            <h2>Overdue <span class="todo-badge">{{ expired | length }}</span></h2>
        </div>
        {% if expired %}
            <h3 class="expired-text">Expired reminders, reminders for which the due date has passed.</h3>
            <table>
                <th>Reminder Description</th>
                <th>Project Name</th>
                <th style="padding: 0 5px 0 5px;">Reminder Due Date</th>
                {% for reminder in expired %}
                    <tr>
                        <td>{{ reminder.description }}</td>
                        <td><a href="https://{{ server_name }}/admin/dmp/project/{{ reminder.project.id }}/change/">{{ reminder.project.title }}</a></td>
                        <td>{{ reminder.due_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>


    <div>
        <div class="block-head active">
                <h2>Active <span class="todo-badge">{{ active | length }}</span></h2>
        </div>
        {% if active %}
        <h3 class="active-text">Active reminders, reminders for which the due date occurs in the next month.</h3>
        <table>
            <th>Reminder Description</th>
            <th>Project Name</th>
            <th>Reminder Due Date</th>
            {% for reminder in active %}
                <tr>
                    <td>{{ reminder.description }}</td>
                    <td><a href="https://{{ server_name }}/admin/dmp/project/{{ reminder.project.id }}/change/">{{ reminder.project.title }}</a></td>
                    <td>{{ reminder.due_date }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% if new_proj %}
        <div>
            <div class="block-head">
                <h2>Newly Assigned Projects<span class="todo-badge">{{ new_proj | length }}</span></h2>
            </div>
                <h3>You have been assigned these projects in the last week.</h3>
                <table>
                    <th>Project Name</th>
                    {% for project in new_proj %}
                        <tr>
                            <td><a href="https://{{ server_name }}/admin/dmp/project/{{ project.id }}/change/">{{ project.title }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
    {% endif %}
    <style>
        table tr:nth-child(odd) {
        background-color: #f6f6f6;
    }
    table {
        width: 90%;
    }

    tr {
        line-height: 2em;
    }

    td {
        padding: 0 5px 0 5px;
    }
    .expired-text {
        color: #c4000e;
    }
    .active-text{
        color: #b7b534;
    }

    .expired {
        background-color: rgba(242, 222, 222, 0.73);
    }

    .active {
        background-color: #fcf8e3;
    }


    .block-head {
        border-radius: 5px;
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
        width: 90%;
    }

    .todo-badge {
        border: solid;
        border-color: #858585;
        border-width: 1px;
        border-radius: 12px;
        margin-left: 7px;
        padding: 0 7px 0 7px;
        background-color: white ;
        color: black;
        font-size: medium;
        vertical-align: middle;
    }
    </style>
</body>

