{% extends "admin/change_form.html" %}
{% load i18n admin_modify  %}



{% block object-tools %}




{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% endblock %}
  </ul>
{% endif %}{% endif %}

<h4>Project list:</h4>
<ul>
    {% for p in original.projects.all %}
       <li><a style="background-color:#99ddcc; color:#ffffff; padding:2px; border:1px solid white;" href="/admin/dmp/project/{{p.pk}}"><b>{{p.PI}}</b>: 
         {{p.title|truncatewords:6}}</a></li> 
    {% endfor %}
</ul>

{% endblock %}
