{% extends "admin/base.html" %}
{% load i18n static %}

{%  block title %}{{ title }} | {% trans 'DMP Administration' %}{% endblock %}


{% block branding %}
    <h1 id="site-name">{% trans 'Data Management Plan Administration' %}</h1>
{% endblock %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css"/>
{% endblock %}

{% block nav-global %}

    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
    </ul>




{% endblock %}
