a:link.gotwlink {color:red; background-color:blue}
a:hover.gotwlink {color:red; background-color:blue}
a:visited.gotwlink {color:red; background-color:blue}

#dataproducts {background-color:blue}
.project {width:60px; 
          height:30px; 
          border-color:#000000;
          border-width:5px;
          border-style:solid;
          border-radius:10px;
          font-size:8px;
          padding:1px;
          margin:2px;
          clear:none;
          float:left;
          }

.nodata {border-color:#00ccff; }
.active {border-color:#000000; }
.proposal {border-color:#cccccc; }
.defaulted {border-color:#ff0000; }
.notfunded {border-color:#0099ff; }
.complete {border-color:#0000ff;  }
.notstarted {border-color:#777777; }
.endedwithdatatocome {border-color:#ffff00;  }

.green {background-color:#22ff22;}
.ambar {background-color:#ffff22;}
.red {background-color:#ff5555;}

.selected {
          border-width:8px;
          padding:0px;
          margin:0px;          
          }

#showproj {background-color:#fffff0; width:400px; 
          height:400px; 
          border-color:#000000;
          border-width:2px;
          border-style:solid;
          border-radius:10px;
          font-size:16px;
          float: right;
          margin:20px;
          padding:5px;
          }

.nodivider td {
    border: hidden;
}

.email_template_info {
    background-color: rgba(255, 1, 15, 0.13);
    border-radius: 10px;
    padding: 1px 5px 1px 5px;

}

.edit_email_template_button {
    background-color: #999999;
    border-radius: 10px;
    padding: 1px 5px 1px 5px;
}


#google_upload_button {
    background-color: #79aec8;
    border-radius: 5px;
    font-size: medium;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.google_account_info {
    margin-right: 0px;
    margin-left: auto;
    height: 60px;
    width: 60px;
    background-color: #00ccff;
    line-height: 60px;
    text-align: center;
    border-radius: 10px;
    font-size: x-large;
    display: block;
}

.google_account_info:link {
    color: white
}
.google_account_info:active {
    color: white
}
.google_account_info:visited {
    color: white
}
.google_account_info:hover {
    color: whitesmoke;
}


.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border:lightgrey;
    border-style: solid;
    border-width: thin;
}
.show {
    display: block;}

.cancel {
    display: block;
    width:130px;
    height: 38px;
    line-height: 40px;
    border-radius: 3px;
    background-color: rgb(121, 174, 200);
    color: white;
    text-align: center
}

.cancel:link{
    color: white;
}
.cancel:visited{
    color: white;
}
.cancel:hover{
    color: white;
}
.cancel:active{
    color: white;
}

