{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/dmp.css' %}" type="text/css" />
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({
        selector: 'textarea',
        visual: false,
        height: '400'
    });
    </script>
{% endblock %}

{% block form_top %}
    <div class="email_template_info">
        <p>Variables can be placed in the email template using <a href="https://docs.djangoproject.com/en/1.10/topics/templates/#the-django-template-language">Django template</a> formatting.</p>
        <p>Please click <a href="{% url 'email_help' %}">here</a> to view available variables</p>

    </div>


{% endblock %}